In [1]:
import pandas

In [2]:
d = pandas.DataFrame([["artur", 24, 'python'],['misha', 30, 'python'],['elly', 25, 'none'],['drug', 99, '...']])

In [3]:
d

       0   1       2
0  artur  24  python
1  misha  30  python
2   elly  25    none
3   drug  99     ...

In [4]:
newframe = pandas.DataFrame([["artur", 24, 'python'],['misha', 30, 'python'],['elly', 25, 'none'],['drug', 99, '...']], columns=['Name', 'Age', 'Speciality'])
newframe

    Name  Age Speciality
0  artur   24     python
1  misha   30     python
2   elly   25       none
3   drug   99        ...

In [7]:
d = newframe
d.Name

0    artur
1    misha
2     elly
3     drug
Name: Name, dtype: object

In [8]:
d.Age

0    24
1    30
2    25
3    99
Name: Age, dtype: int64

In [9]:
d.Speciality

0    python
1    python
2      none
3       ...
Name: Speciality, dtype: object